.env
*/__pycache__/
*/generated_script.py
*/generated_script_orig.txt
*/*/__pycache__/
queries_2.db
.pyre/
.pyre_configuration
env/
taint_sources/general.pysa
taint_sources/taint.config
editable_files/
mcp-servers/mcp_default_servers
taints.pkl
database_additions.pkl
sapp.db
taint_output.json/*
arriving_path_file.txt
counting_metrics.pkl
llm_baseline/preamble_dynamic.txt
operation_helpers/preamble_dynamic.txt
api_key.txt
model.txt
multishot.pkl
taints.pkl
tokens.txt
later_runs/
__pycache__/
agent_helpers/database.py
current_context_to_outer_llm.txt
privateData.db
queries_4.db
internalData.db
planning_language/plan.txt
python_input.pkl
python_output.pkl
.DS_Store
user_output.txt
current_run.txt
current_test.txt
llm_baseline/current_context.txt
ISA_metadata.pkl
faiss_index.bin
track_no_reset_db.csv
track_reuse_db.csv
