{
  "sources": [
  SOURCES_INSERT,
	{
"name": "ProcessQuerySource",
"comment": "process query output"
}   
  ],
  "sinks": [
    {
      "name": "MCPCall",
      "comment": "Call to MCP server"
    },
    {
      "name": "ConditionalTest",
      "comment": "Conditional tests sensitive to tainted data (Implicit Flow)"
    },
    SINKS_INSERT
    {
      "name": "Default",
      "comment": "Default sink to catch any unmodeled taint flow into arguments"
    }
  ],
  "features": [],
  "rules": [
   RULES_INSERT ,
{
"name": "process_query in explicit flow",
"code": 300000,
"sources": [
"ProcessQuerySource"
],
"sinks": [
"MCPCall",
"Default"
],
"message_format": "Data from process query source(s) may reach sink(s)"
}
  ],
  "implicit_sinks": {
    "conditional_test": [
      "ConditionalTest"
    ]
  },
  "parameter_sinks": [
    {
      "kinds": [
        {
          "kind": "Default",
          "where": "argument"
        }
      ]
    }
  ]
}
